.brand-logo {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
}

#upload_sfs, #upload_screenshot {
    display: block;
    width: 30%;
    height: 160px;
    padding: 1em;
    border: 3px dashed darkgray;
    border-radius: 5px;
    background-color: darkgray;
}

.os_path {
    background-color: white; 
    border: 1px solid #23272a;
    border-radius: 1px;
    padding: 3px;
    margin: 5px;
}
