{% if not invalid %}
<h4>Choose the craft you want to submit</h4>
<select id="craft_selector" class="craft_select" onchange="ns.craftDetails();" onload="ns.craftDetails();">
    <option value="" disabled selected>---Select a craft---</option>
    {% for name, craft in craft_dict.items() %}
    <option value="{{ name }}">{{ name }} : {{ craft["upsilon_name"] }}</option>
    {% endfor %}
</select>
<br>
<h5>Craft information</h5>
<br>
<div id="vessel_details">
    <div>Name: <span id="vessel_name"></span></div>
    <div>Upsilon categorisation: <span id="vessel_upsilon_name"></span></div>
    <div>Vessel location: <span id="vessel_location"></span></div>
    <div id="vessel_kerbals_container" style="display: none;">Vessel kerbals: <span id="vessel_kerbals"></span></div>
    <div>Vessel valid: <span id="vessel_valid"></span></div>
    <div id="vessel_invalid_container" style="display: none;">Invalidation reasons: <div id="vessel_invalid_reasons"></div></div>
</div>
<br>
<h5>You must upload some screenshots of your mission</h5>
<br>
<span>Screenshot uploads (max 8MB per screenshot, 50MB total): </span>
<span id="n_screenshots">0</span>
<input type="file" id="upload_screenshot" accept="image/png,image/jpeg" ondrop="ns.onNewScreenshot(event);" onchange="ns.onNewScreenshot(event);" multiple>
<span>Screenshots valid: </span>
<span id="screenshots_valid">No</span>
<br>
<br>
<button class="btn" onclick="ns.onSubmitScreenshot(false);">Submit craft to upsilon</button>
<progress style="display: none;" value="0" max="100" id="file_progress"></progress>
{% else %}
<div>Your savefile cannot be processed as it is invalid (Attempting to process it with invalid mods installed can result in errors)</div>
<div>The following problems have been found:</div>
<br>
<div>Important problems (preventing submission):</div>
<br>
    {% for mod, mod_data in invalid["mods"].items() %}
        {% if mod_data["level"] == "critical" %}
    <div>Non-whitelisted mod active: {{ mod }}</div>
        {% endif %}
    {% endfor %}
    {% if "version" in invalid["settings"]%}
        {% if invalid["settings"]["version"] == "critical" %}
    <div>Game version out of date (&lt1.9)</div>
        {% endif %}
    {% endif %}
<br>
<div>Other issues (these do not prevent submission):</div>
<br>
    {% for mod, mod_data in invalid["mods"].items() %}
        {% if mod_data["level"] == "warning" %}
            {% if mod_data["enabled"] %}
    <div>Mod with forced warning level active: {{ mod }}</div>
            {% else %}
    <div>Non-whitelisted / forced warning mod inactive: {{ mod }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if "version" in invalid["settings"]%}
        {% if invalid["settings"]["version"] == "warning" %}
    <div>Game version out of date (&gt=1.8, &lt1.8.1)</div>
        {% endif %}
    {% endif %}
    {% if "difficulty" in invalid["settings"] %}
    <div>Game difficulty not set to normal</div>
    {% endif %}
<br>
{% endif %}
