{% extends "base.html" %}
{% block subtitle %}Submission screenshots{% endblock %}

{% block main %}
{% for file in files %}
<div>
    <span>{{ file }}</span>
    <img src="/submission/{{ submission_id }}/images/{{ file }}" width="80%">
</div>
{% endfor %}
{% endblock %}